# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Frontend (Ignore Node modules and build artifacts)
frontend/node_modules/
frontend/dist/

# Large Model Files (Optional: If you use Git LFS, keep these. If not, they will be pushed)
# saved_models/*.pth
